h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    padding: 1em 0 1em 0;
}
.grid{
    display:grid;
    grid-template-columns: repeat(1,12fr);
}
.grid-item1{
    // background-color: rgba(0,0,0,0.8);
    height:65vh;
    h2{
        color:white;
        font-size: 2em;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        margin: 2em 0 0 0;
        color: rgba(0,0,0,0.8);
    }
    h5{
        color:white;
        margin: 1em 0 0 0;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        color: rgba(0,0,0,0.8);
    }
    p{
        color:white;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1em;
        width:80%;
        text-align:center;
        margin: 1em 0 0 2.6em;
        color: rgba(0,0,0,0.8);
    }
    h3{
        color:white;
        font-family: 'Libre Franklin', sans-serif;
        text-align: center;
        padding-top: 1em;
        font-size: 1em;
        margin: 0 0 0 0;
        color: rgba(0,0,0,0.8);

    }
    h4{
        color:white;
        padding-top: 1em;
        font-size: .8em;
        text-align: center;
        margin : 0 0 0 0;
        color: rgba(0,0,0,0.8);

    }
    .buttons{
        margin: 0 0 0 1.8em;
    }
    a{
        text-decoration: none;
        background-color: rgba(0,0,0,0.8);
        color:white;
        font-family: 'Raleway', sans-serif;
        font-size: .8em;
        padding:1em 2em;
        text-align: center;
        display: inline-block;
        // border-radius:5px;
        margin: 3em 0 0 2em;
    }
}

@media (min-width: 800px){
h1{
    font-size: 3em;
}
.grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.grid-item1{
    // background-color: rgba(0,0,0,0.8);

    height:80vh;
    h2{
        color:white;
        font-size: 2.5em;
        font-family: 'Raleway', sans-serif;
        text-align: left;
        margin: 2em 0 0 2em;
        color: rgba(0,0,0,0.8);
    }
    h5{
        color:white;
        margin: 1em 0 0 6.5em;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        color: rgba(0,0,0,0.8);
    }
    p{
        color:white;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 1.3em;
        width:80%;
        text-align: left;
        margin: 1em 0 0 3.9em;
        color: rgba(0,0,0,0.8);
    }
    h3{
        color:white;
        font-family: 'Libre Franklin', sans-serif;
        text-align: left;
        padding-top: 1em;
        font-size: 1em;
        margin: 0 0 0 5em;
        color: rgba(0,0,0,0.8);

    }
    h4{
        color:white;
        padding-top: 1em;
        font-size: .8em;
        text-align: left;
        margin : 0 0 0 7em;
        color: rgba(0,0,0,0.8);

    }
    .buttons{
        margin: 0 0 0 3em;
    }
    a{
        text-decoration: none;
        background-color: rgba(0,0,0,0.8);
        color:white;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        padding:1em 2em;
        text-align: center;
        display: inline-block;
        // border-radius:5px;
        margin: 3em 0 0 2em;
        
    }
    a:hover{
        background-color: black;
        border:solid 1px black;
        color:white;
        
    }
}
.grid-item2{
    background:url("../public/pimages/gateway.png") no-repeat center/cover;
    height:80vh;
}
.grid-item3{
    background:url("../public/pimages/hopehack.png") no-repeat center/cover;
}
.grid-item4{
    background: url("../public/pimages/pennyjuice.png") no-repeat center/cover;
}
.grid-item5{
    background: url("../public/pimages/ecommerce.png") no-repeat center/cover;
}
}